@import "tailwindcss";

@theme {
  --color-brand-light: #6366f1;
  --color-brand: #4f46e5;
  --color-brand-dark: #4338ca;
}

@layer base {
  html {
    @apply antialiased scroll-smooth;
  }

  body {
    background: var(--color-background);
    color: var(--color-text);
    transition: background 0.3s, color 0.3s;
  }
}

@layer components {

  .input-field {
    @apply w-full border border-slate-200 dark:border-slate-700
           p-4 rounded-2xl focus:ring-4 focus:ring-orange-500/10
           focus:border-orange-500 outline-none transition-all
           font-bold placeholder:text-slate-300;

    background: var(--color-primary);
    color: var(--color-text);
  }

  .form-label {
    @apply block text-[10px] font-black text-slate-400 uppercase tracking-widest mb-2 ml-1;
  }

}